<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MI CARRITO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">MI CARRITO</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-card>
<h2 style="text-align: center;">MI RESUMEN</h2>


<ion-card>
  <ion-card-header style="text-align:center;height: 13rem;" color="primary">
  <img src="./../../assets/images/producto.jpg" style="max-width: 45%; margin-bottom: 0.2rem;margin-top: -0.5rem; ">
    <ion-card-subtitle style="font-size: 0.6rem;">Promoción Mayorista</ion-card-subtitle><br>
    <ion-card-title style="font-size: 1rem;margin-top: -0.7rem;">Celular iPhone X (6 unds.)</ion-card-title>
      <ion-card-content style="margin-top: -0.8rem;font-size: 0.8rem;">
     <p> 
    <b>Valor: $ 40.000</b> - <s>$ 52.000</s>
      </p>
  </ion-card-content>
  <ion-button style="width: 100%;margin-top: -1rem;">
    <b style="color: red;">Eliminar de Mi Carrito</b>
    </ion-button>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-content style="width: 100%;">
     <p style="font-size: 1.5rem; letter-spacing: 2px; text-align: center;"> 
    <b>TOTAL:   $ 40.000</b>
      </p>
  </ion-card-content>
</ion-card>



<ion-card>
  <ion-button style="width: 100%;">
    <b style="color: green;">PROCESAR COMPRA</b>
    </ion-button>
</ion-card>


</ion-card>




</ion-content>

