h2 {
	text-align: center;
}
ion-card-header {
	text-align:center;
}
ion-button {
	width: 100%;
	margin-top: -1rem;
}
img {
	max-width: 55%; 
	margin-bottom: 0.2rem;
}
ion-card-subtitle {
	font-size: 0.9rem;
}
ion-card-title {
	font-size: 1.2rem;
	margin-top: -0.5rem;
}
.totalCard {
	height: 95%;
}
.infoContent {
	margin-top: -0.4rem;
	margin-bottom: 0.8rem;
	font-size: 1rem;
}
.eliminarBtn {
	color: red;
}
.pTotal{
	font-size: 1.5rem; 
	letter-spacing: 2px; 
	text-align: center;
	margin-bottom: 1.2rem;
}
.procesarBtn {
	color: green;
	font-weight: bolder;
	letter-spacing: 1px;
}
