
ion-img {
    width: 50%;
    height: auto;
    margin: 5rem 0rem 0rem 8rem;
}

ion-card-title {
    text-align: center;
}

ion-item {
    text-align: center;
    margin: 0.8rem;
    background: #fff;
    border-radius: 1rem;
    color: black;
    font-size: 1.1rem;
}

ion-buttons {
    text-align: center;
}

ion-label {
    text-align: center;
}

ion-card-title {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

ion-button {
    text-align: center;
    width: 100%;
    padding: 2px;
    color: white;
    background: linear-gradient(to right, #f1b110, #e17706, #ec2603);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.button-footer {
    width: 200px;
}

.create {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.label-login {
    font-size: 20px;
    font-style: italic;
    // color: #fff;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    margin: 10px;
    border-bottom: 1px solid black;
}



