<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu-header-bg"></div>
  <div class="header-content">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-buttons>
        <ion-button (click)="ingresar()">
          Ingresar
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <ion-buttons>
      <ion-label class="label-registro" [routerLink]="['/registro']" color="white">¿No tienes cuenta? Registrate</ion-label>
    </ion-buttons>
    <div class="create"></div>
  </ion-card>

</ion-content>

