

/* .menu-header-bg {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #303030, #5d3102);
    position: absolute; 
} */

.menu-header-bg {
    height: 10%;
    width: 10%;
    background: #7590d6;
    background: url(./../../assets/images/CibusLogo.png) center center no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    
}

ion-card-title {
    text-align: center;
}

ion-item {
    text-align: center;
    margin: 0.8rem;
    background: #fff;
    border-radius: 1rem;
    color: black;
    font-size: 1.1rem;
}

ion-buttons {
    text-align: center;
}

ion-label {
    text-align: center;
}

ion-card-title {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

ion-button {
    text-align: center;
    width: 100%;
    padding: 2px;
    color: white;
    background: linear-gradient(to right, #f1b110, #e17706, #ec2603);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.button-footer {
    width: 200px;
}

.create {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.label-login {
    font-size: 20px;
    font-style: italic;
    // color: #fff;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    margin: 10px;
}



