


<ion-content [fullscreen]="true"> 

  <ion-img src="./../../assets/images/CibusLogo.png"></ion-img>
  <ion-card color="white">
    <ion-card-header>
      <ion-card-title>Inicia Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item color="white">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item color="white">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-buttons>
        <ion-button (click)="ingresar()">
          Ingresar
        </ion-button>
      </ion-buttons>
    </ion-card-content><br>
    <ion-buttons>
      <ion-label class="label-registro" [routerLink]="['/registro']" color="white">¿No tienes cuenta? Registrate</ion-label>
    </ion-buttons>
    <div class="create"></div>
  </ion-card>
  <div class="menu-header-bg"></div>

</ion-content>

