<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card style="padding:1rem;">

<ion-card>
  <img src="https://www.sportlife.es/uploads/s1/75/81/52/1/5e4e3c1c0ce6947c348b45e5-dos-manzanas-al-dia-frente-al-colesterol.jpeg">
  <ion-card-header style="text-align:center;" color="primary">
    <ion-card-subtitle style="font-size: 0.7rem;">Promoción Mayorista</ion-card-subtitle><br>
    <ion-card-title style="font-size: 1.1rem;">Manzanas (6 unds.)</ion-card-title>
      <ion-card-content>
     <p> 
    <b>Valor: $ 40.000</b> - <s>$ 52.000</s>
      </p>
  </ion-card-content>
    <ion-button style="width: 45%;">
      <ion-icon name="cart-outline" style="margin-right:1rem;"></ion-icon><b>Añadir al Carrito</b>
    </ion-button>
  <ion-button style="width: 45%;">
    <b style="color: red;">Eliminar de Favoritos</b>
    </ion-button>
  </ion-card-header>
</ion-card>

<ion-card>
  <img src="http://www.frutas-hortalizas.com/img/fruites_verdures/presentacio/26.jpg">
  <ion-card-header style="text-align:center;" color="primary">
    <ion-card-subtitle style="font-size: 0.7rem;">Promoción Mayorista</ion-card-subtitle><br>
    <ion-card-title style="font-size: 1.1rem;">Peras (8 unds.)</ion-card-title>
      <ion-card-content>
     <p> 
    <b>Valor: $ 40.000</b> - <s>$ 52.000</s>
      </p>
  </ion-card-content>
    <ion-button style="width: 45%;">
      <ion-icon name="cart-outline" style="margin-right:1rem;"></ion-icon><b>Añadir al Carrito</b>
    </ion-button>
  <ion-button style="width: 45%;">
    <b style="color: red;">Eliminar de Favoritos</b>
    </ion-button>
  </ion-card-header>
</ion-card>

<ion-card>
  <img src="https://img.freepik.com/fotos-premium/fruta-naranja-hojas-pared-blanca_253984-3354.jpg?w=2000">
  <ion-card-header style="text-align:center;" color="primary">
    <ion-card-subtitle style="font-size: 0.7rem;">Promoción Mayorista</ion-card-subtitle><br>
    <ion-card-title style="font-size: 1.1rem;">Naranjas (15 unds.)</ion-card-title>
      <ion-card-content>
     <p> 
    <b>Valor: $ 40.000</b> - <s>$ 52.000</s>
      </p>
  </ion-card-content>
    <ion-button style="width: 45%;">
      <ion-icon name="cart-outline" style="margin-right:1rem;"></ion-icon><b>Añadir al Carrito</b>
    </ion-button>
  <ion-button style="width: 45%;">
    <b style="color: red;">Eliminar de Favoritos</b>
    </ion-button>
  </ion-card-header>
</ion-card>

<ion-card>
  <img src="https://www.sportlife.es/uploads/s1/75/81/52/1/5e4e3c1c0ce6947c348b45e5-dos-manzanas-al-dia-frente-al-colesterol.jpeg">
  <ion-card-header style="text-align:center;" color="primary">
    <ion-card-subtitle style="font-size: 0.7rem;">Promoción Mayorista</ion-card-subtitle><br>
    <ion-card-title style="font-size: 1.1rem;">Manzanas (6 unds.)</ion-card-title>
      <ion-card-content>
     <p> 
    <b>Valor: $ 40.000</b> - <s>$ 52.000</s>
      </p>
  </ion-card-content>
    <ion-button style="width: 45%;">
      <ion-icon name="cart-outline" style="margin-right:1rem;"></ion-icon><b>Añadir al Carrito</b>
    </ion-button>
  <ion-button style="width: 45%;">
    <b style="color: red;">Eliminar de Favoritos</b>
    </ion-button>
  </ion-card-header>
</ion-card>

</ion-card>

</ion-content>

