<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <div class="divUno">
      <ion-icon class="iconUno" name="person-circle-outline"></ion-icon>
      </div>
      <div class="divDos">
      <ion-card-title class="titleUno">Gonzalo Martino</ion-card-title>
      <ion-card-title class="titleDos">@gonzalo.martino</ion-card-title>
      </div>
  
    <ion-card-content>
      <ion-button class="editarBtn">
      <p>EDITAR PERFIL</p>
      </ion-button>
    </ion-card-content>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-card-title class="titleTres">Información Personal</ion-card-title>
    <ion-item><br><br><br>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>gmartino@mail.austral.edu.ar</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>+54 3482 63-9817</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label>45.267.897</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>Paraguay 1950, Rosario, Santa Fe</ion-label>
      </ion-item>
  </ion-card>
  
      <ion-button color="black" class="cerrarBtn" (click)="cerrarSesion()">
      <p>CERRAR SESIÓN</p>
      </ion-button>
