.imgProduct {
	max-width: 150px;
	max-height: 120px;
	margin: 0.5rem;
}

ion-card-header{
	text-align:center;
	width: 100%;
	margin-right: -10rem;
}

ion-button {
	font-size: 0.7rem;
}
h2 {
	text-align: center;
}
.cardProduct {
	width: 100%;
}
.btnCarrito {
	margin-right:0.4rem;
}